button {
    color:rgb(122, 247, 218);
    text-shadow: 1.5px 1px slateblue;
    font-size: 26px;
    text-decoration: none;
    border-radius: 60%;
    /* border-bottom-right-radius: 60%; */

    border: solid 2px slateblue;

    padding: 5px;
    background: transparent;
    font-family: 'Righteous', cursive;
}

button:hover {
    transition-duration: 3s;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
}

button:focus{
    outline: none;
}

input{
    background: transparent;
    border: solid 5px turquoise;
    height: 30px;
    width: 200px;
}

h3 {
    color: slateblue;
    font-size: 30px;
    text-transform: uppercase;
}

h4 {
    color:rgb(122, 247, 218);
    text-shadow: 1.5px 1px slateblue;
    
}

p {
    margin: 0;
}

section {
    display: grid;
    grid-template-columns: 25% 75%;

}

aside {
    grid-column: 1 / 2;
    display: flex;
}

.pokemon-images {
    height: 100%;
    grid-column: 2 / 3;
    display: flex;
    flex-wrap: wrap;
}

.pokemon-list {
    height: fit-content;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: none;
}
.spinner {
    height: 500px;


}
.poke-info {
    color:rgb(122, 247, 218);
    text-shadow: 1.5px 1px slateblue;
}

/* .spinner {
    background-color: rgba(216, 191, 216, 0.311);
    border: solid 5px coral;
} */

/* main {
    grid-column: 3 / span 3;
} */

